{% extends 'baseinicio.html' %}
{% block titulo %}Componentes{% endblock %}
{% block contenido %}
<!-- Modal -->
<div class="card">
    <div class="card-header">
        <H1>Registro de Componentes - SIE</H1>
    </div>
    <div class="card-body">
        <!-- Boton ventana modal alineado a la derecha -->
        <div class="d-flex align-items-center"> 
            <button type="button" class="btn btn-primary btn-round ms-auto shadow" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <i class="bi bi-perplexity"></i>
                Agregar
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header  bg-secondary">
                        <h1 class="modal-title fs-4 " id="staticBackdropLabel">Agregar registro del componente</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formMaestro" action="">
                            <div class="row">
                                <div class="form-row col-md-6 ">
                                    <div class="form-floating form-floating-custom mb-3">
                                        <input type="text" class="form-control" id="carrera" name="carrera"
                                            placeholder="" required autofocus />
                                        <label for="floatingInput">Codigo</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationCustom04" class="form-label">Carrera</label>
                                    <select class="form-select form-control" id="areaC" required>
                                        <option selected disabled value="">Elegir...</option>
                                        <option>Ingenieria en Sistema de Información</option>
                                        <option>Administración</option>
                                        <option>Contabilidad</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Seleccione una carrera válido
                                    </div>
                                </div>
                                <div class="form-row col-md-6">
                                    <div class="form-floating form-floating-custom mb-3">
                                        <input type="text" class="form-control" id="nombree" name="nombree"
                                            placeholder="" required />
                                        <label for="floatingInput">Nombre del componente</label>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary btn-round">Guardar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tabla de listado de carrera-->
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Agregar datos del componente</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="display table table-striped table-hover ">
                <thead class="table-primary">
                    <tr class="">
                        <th>Codigo</th>
                        <th>Nombre del componente</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre del componente</th>
                        <th>Estado</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>20250120</td>
                        <td>Ingenieria en sistema</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-sm" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="btn btn-primary btn-sm" role="button">
                                <i class=" fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}