{% extends 'baseinicio.html' %}
{% block titulo %} Grupo{% endblock %}
{% block contenido %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Registro de grupos</h5>
        <div class=" d-flex">
            <!-- Modal trigger button -->
            <button type="button" class="btn btn-primary btn-round ms-auto shadow" data-bs-toggle="modal"
                data-bs-target="#modalId">
            <i class="bi bi-people-fill"></i>
                Agregar
            </button>
        </div>
    </div>
</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Grupos de Trabajos
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formMaestro" action="">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="estudiante" class="form-label">Nombre estudiante</label>
                            <select class="form-select form-control" id="estudiante" required>
                                <option selected disabled value="">Elegir...</option>
                                <option>...</option>
                                <option>...</option>
                                <option>...</option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccione un nombre estudiante válido
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="grupo" class="form-label">Grupo</label>
                            <select class="form-select form-control" id="grupo" required>
                                <option selected disabled value="">Elegir...</option>
                                <option>...</option>
                                <option>...</option>
                                <option>...</option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccione un grupo válido
                            </div>
                        </div>
                        
                        
                        <div class="form-row col-md-6">
                            <div class="form-floating form-floating-custom mb-3">
                                <input type="text" class="form-control" id="nombre" placeholder="" name="nombre"
                                    required />
                                <label for="floatingInput">Nombres</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating form-floating-custom mb-3">
                                <input type="text" class="form-control" id="apellido" placeholder="" name="apellido"
                                    required />
                                <label for="floatingInput">Apellidos</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating form-floating-custom mb-3">
                                <input type="text" class="form-control" id="orcid" placeholder="" name="orcid"
                                    required />
                                <label for="floatingInput">Número de ORCID</label>
                            </div>
                        </div>
                        <div class="form-row col-md-6 ">
                            <div class="form-floating form-floating-custom mb-3">
                                <input type="email" class="form-control" id="email" placeholder="" name="email"
                                    required />
                                <label for="floatingInput">Correo Electrónico</label>
                            </div>
                        </div>
                        <div class="form-row col-md-6 ">
                            <div class="form-floating form-floating-custom mb-3">
                                <input type="text" class="form-control" id="tel" placeholder="" name="tel" required />
                                <label for="floatingInput">Teléfono</label>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger btn-round" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary btn-round">Guardar...</button>
            </div>
            </form>
        </div>

    </div>
</div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
</script>


<fieldset>
    <legend class="text-center">Registro de grupo de trabajo</legend>

    <div class="table-responsive">
        <table class="table table-hover table-borderless  align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
                <tr class="">
                    <td scope="row">Item</td>
                    <td>Item</td>
                    <td>Item</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>

</fieldset>

{% endblock %}