{% extends 'baseinicio.html' %}
{% block titulo %} Maestros {% endblock %}
{% block contenido %}

<!-- Modal -->
<div class="card">
  <div class="card-header">
    <H1>Sistema de Evaluación</H1>
  </div>
  <div class="card-body">
    <!-- Boton ventana modal alineado a la derecha -->
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-primary btn-lg btn-round ms-auto shadow" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">
        <i class="fa fa-user-plus"></i>
        Agregar
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar datos del Maestro</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form id="formMaestro" action="">
              <div class="row">
                <div class="form-row col-md-6 ">
                  <div class="form-floating form-floating-custom mb-3">
                    <input type="text" class="form-control" id="cedulaid" name="cedula" placeholder="" required
                      autofocus />
                    <label for="floatingInput">Cédula</label>
                  </div>
                </div>
                <div class="form-row col-md-6">
                  <div class="form-floating form-floating-custom mb-3">
                    <input type="text" class="form-control" id="nombre" placeholder="" name="nombre" required />
                    <label for="floatingInput">Nombres</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating form-floating-custom mb-3">
                    <input type="text" class="form-control" id="apellido" placeholder="" name="apellido" required />
                    <label for="floatingInput">Apellidos</label>
                  </div>
                </div>
                <div class="form-row col-md-6 ">
                  <div class="form-floating form-floating-custom mb-3">
                    <input type="email" class="form-control" id="email" placeholder="" name="email" required />
                    <label for="floatingInput">Correo Electrónico</label>
                  </div>
                </div>
                <div class="form-row col-md-6 ">
                  <div class="form-floating form-floating-custom mb-3">
                    <input type="text" class="form-control" id="tel" placeholder="" name="tel" required />
                    <label for="floatingInput">Teléfono</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom04" class="form-label">Area del Conocimiento</label>
                  <select class="form-select form-control" id="areaC" required>
                    <option selected disabled value="">Elegir...</option>
                    <option>Ciencias Tecnologia y Salud</option>
                    <option>Ciencias Económicas y Administrativa</option>
                    <option>Educación y Humanidades</option>
                  </select>
                  <div class="invalid-feedback">
                    Seleccione una area válido
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary btn-round">Guardar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Registro de Maestros</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="example" class="display table table-striped table-hover ">
        <thead class="table-primary">
          <tr>
            <th>Cédula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dpto</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Cédula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dpto</th>
            <th>Estado</th>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>616-5555555-55</td>
            <td>Juan</td>
            <td>Ramirez</td>
            <td>email@gmail.com</td>
            <td>5555-5555</td>
            <td>Economia</td>
            <td>
              <a href="#" class="btn btn-primary btn-sm" role="button">
                <i class=" fa fa-pencil-alt"></i></a>
              <a href="#" class="btn btn-danger btn-sm" role="button">
                <i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}